#welcome-box {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#big-box {
    text-align: center;
}

#left-box, #right-box {
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.manage-box {
    margin-top: 20px;
}

.result-box {
    margin-bottom: 50px;
}

.flight-cell {
    padding: 16px;
}

.header {
    border: none;
    border-bottom: 1px solid black;
}

.input-label {
    width: 200px;
    text-align: left;
    margin-left: 0px;
}

.input {
    width: 175px;
    margin-top: 5px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 50px;
}

#spending-img {
    width: 500px;
    height: 400px;
    margin-top: -10px;
    margin-bottom: 20px;
}