{% extends "layout.html" %}

{% block external %}
    <link rel = "stylesheet" href = "{{ url_for('static', filename='index.css') }}">  
{% endblock %}

{% block content %}
    {% if name %}
    <div id="welcome-box">
        <h1>Welcome, {{name}}.</h1>
    </div>
    <hr class="mt-2 mb-3"/>

    <div id = big-box>
        <div id="left-box">
            <div class='result-box'>
                <h1>Your Upcoming Flights</h1><br>
                <table class="flight-table">
                    <tr class="flight-row header">
                        <th class='flight-cell'>Ticket ID</th>
                        <th class='flight-cell'>Airline</th>
                        <th class='flight-cell'>Flight ID</th>
                        <th class='flight-cell'>Departure Date</th>
                        <th class='flight-cell'>Departure Time</th>
                        <th class='flight-cell'>Arrival Date</th>
                        <th class='flight-cell'>Arrival Time</th>
                        <th class='flight-cell'>From</th>
                        <th class='flight-cell'>To</th>
                        <th class='flight-cell'>Status</th>
                    </tr>
                    {% for row in flights %}
                        <tr class='flight-row'>
                            <td class='flight-cell'>{{ row[0] }}</td>
                            <td class='flight-cell'>{{ row[1] }}</td>
                            <td class='flight-cell'>{{ row[2] }}</td>
                            <td class='flight-cell'>{{ row[3].strftime('%Y-%m-%d')  }}</td>
                            <td class='flight-cell'>{{ row[3].strftime('%H:%M') }}</td>
                            <td class='flight-cell'>{{ row[4].strftime('%Y-%m-%d')  }}</td>
                            <td class='flight-cell'>{{ row[4].strftime('%H:%M') }}</td>
                            <td class='flight-cell'>{{ row[5] }}</td>
                            <td class='flight-cell'>{{ row[6] }}</td>
                            <td class='flight-cell'>{{ row[7] }}</td>
                            <td class='flight-cell'>
                                <form action='/cancel' method="POST">
                                    <input type="hidden" name="row" value="{{ row[0] }},{{ row[1] }},{{ row[2] }}, {{ row[3] }}">
                                    <input class='table-input btn btn-outline-primary' type="submit" value='Cancel flight'/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="result-box">
                <h1>Your Past Flights</h1><br>
                <table class="flight-table">
                    <tr class="flight-row header">
                        <th class='flight-cell'>Ticket ID</th>
                        <th class='flight-cell'>Airline</th>
                        <th class='flight-cell'>Flight ID</th>
                        <th class='flight-cell'>Departure Date</th>
                        <th class='flight-cell'>Departure Time</th>
                        <th class='flight-cell'>Arrival Date</th>
                        <th class='flight-cell'>Arrival Time</th>
                        <th class='flight-cell'>From</th>
                        <th class='flight-cell'>To</th>
                    </tr>
                    {% for row in past_flights %}
                        <tr class='flight-row'>
                            <td class='flight-cell'>{{ row[0] }}</td>
                            <td class='flight-cell'>{{ row[1] }}</td>
                            <td class='flight-cell'>{{ row[2] }}</td>
                            <td class='flight-cell'>{{ row[3].strftime('%Y-%m-%d')  }}</td>
                            <td class='flight-cell'>{{ row[3].strftime('%H:%M') }}</td>
                            <td class='flight-cell'>{{ row[4].strftime('%Y-%m-%d')  }}</td>
                            <td class='flight-cell'>{{ row[4].strftime('%H:%M') }}</td>
                            <td class='flight-cell'>{{ row[5] }}</td>
                            <td class='flight-cell'>{{ row[6] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id='right-box'>
            <!-- <div class="manage-box">
                <form id="cancel-form" action="/cancel" method="POST">
                    <h1>Cancel Flight</h1><br>
                    {% if cancel_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ cancel_error }}
                        </div>
                    {% endif %}
                    <label class='input-label'>Ticket ID</label>
                    <input class='input' type="number" name="ticket_id" placeholder="1235912" required/></br>
                    <label class='input-label'>Airline</label>
                    <input class='input' type="text" name="airline" placeholder="Delta" required/></br>
                    <label class='input-label'>Flight ID</label>
                    <input class='input' type="number" name="flight_id" placeholder="111" required/></br>
                    <label class='input-label'>Depart Date</label>
                    <input class='input' type="date" name="depart_date" required/></br>
                    <label class='input-label'>Depart Time</label>
                    <input class='input' type="time" name="depart_time" required/></br>
                    <input class='register btn btn-outline-success' type="submit" value='Cancel flight'/>
                </form>
            </div> -->
            <div class="manage-box">
                <h1>Spending</h1>
                {% if time %}
                    <img id="spending-img" src="{{ url_for('static', filename='spending_' + time + '.png') }}">
                {% endif %}
                {% if spend_filter_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ spend_filter_error }}
                    </div>
                {% endif %}

                <form id="spending-form" action="/spend-filter" method="POST">
                    <label class="input-label">From</label>
                    <input type="date" name="start_date" required></br>
                    <label class="input-label">To</label>
                    <input type="date" name="end_date"required></br>
                    <input class='register btn btn-outline-success' type="submit" value='Check'/>
                </form>
            </div>
            <div class="manage-box">
                <h1>Rate & Comment</h1>

                {% if comment_error %}
                    <div class="alert alert-danger" role="alert">
                        {{ comment_error }}
                    </div>
                {% endif %}

                {% if comment_success %}
                    <div class="alert alert-success" role="alert">
                        {{ comment_success }}
                    </div>
                {% endif %}

                <form id="comment-form" action="/comment" method="POST">
                    <label class='input-label'>Ticket ID</label>
                    <input class='input' type="number" name="ticket_id" placeholder="1235912" required/></br>
                    <label class='input-label'>Airline</label>
                    <input class='input' type="text" name="airline" placeholder="Delta" required/></br>
                    <label class='input-label'>Flight ID</label>
                    <input class='input' type="number" name="flight_id" placeholder="111" required/></br>
                    <label class='input-label'>Depart Date</label>
                    <input class='input' type="date" name="depart_date" required/></br>
                    <label class='input-label'>Depart Time</label>
                    <input class='input' type="time" name="depart_time" required/></br>
                    <label class='input-label'>Rating</label>
                    <select class="input" name="rating">
                        <option value="1">1 (Terrible)</option>
                        <option value="2">2 (Subpar)</option>
                        <option value="3">3 (Acceptable)</option>
                        <option value="4">4 (Great)</option>
                        <option value="5">5 (Outstanding)</option>
                    </select></br>
                    <label class='input-label'>Comment</label>
                    <textarea class='input' name="comment" rows="4" cols="50" maxlength="100"></textarea></br>

                    <input class='register btn btn-outline-success' type="submit" value='Submit'/>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}